a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(68, 65, 65);
}

* {
  margin: 0;
  padding: 0;
}
:root {
    --color-primary: navajowhite; 
    --color-bg-primary: floralwhite; 
    --color-secondary: blueviolet;
}
body {
    background-color: var(--color-bg-primary);
}
nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--color-primary);
}
nav span{
    background: none;
    color: black; 
    font-size: 30px;
}
ul {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-between;
}
.jumbo {
    height: 300px;
    background-image: url("https://images.unsplash.com/photo-1499561385668-5ebdb06a79bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBhbG0lMjB0cmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.cool-title {
    position: absolute;
    bottom: 30px;
    right: 100px;
    background-color: var(--color-primary);
    padding: 10px;
}
main section {
    display: flex;
    margin: 20px 100px;
    justify-content: space-between;
}
main section .title {
    font-size: 40px;
    width: 25%;
    border-right: solid 3px var(--color-secondary);
    text-align: right;
    padding-right: 20px;
}
main section .content{
    width: 70%;

}
main section .content p{
    padding: 0px 15px 15px 0px;
    text-align: justify;
}
.work {
    flex: 1 0 300px;
    height: 200px;
    background-color: var(--color-bg-primary);
    margin: 10px;
}
.work-container {
    display: flex;
    flex-wrap: wrap; 

}
.project {
    flex: 1 0 300px;
    margin: 10px;
    height: 200px;
    width: 450px;
    padding: 10px;
    text-align: center;
    background-color: lightblue;
}
.project p,h3{
    margin: 10px;
}
.project.no1 { 
    flex: 2 0 800px;
    background-image: url("https://images.unsplash.com/photo-1499561385668-5ebdb06a79bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHBhbG0lMjB0cmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70%;
}



.project.no2 { 
    flex: 2 0 800px;
    background-image: url("https://picsum.photos/300/200");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70%;
}

.project.no3 { 
    flex: 2 0 800px;
    background-image: url("https://picsum.photos/id/1014/300/200");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70%;
}

.project.no4 { 
    flex: 2 0 800px;
    background-image: url("https://picsum.photos/id/123/300/200");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70%;
}


.contact-me a {
    padding:20px; 
    text-align: center;

}

.contact-info ul {
    display: flex;
    width: 100%;
    list-style-type: none; 
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.contactForm input,textarea, button {
    width: 50%;
    margin: 10px 0;
}


@media screen and (max-width: 660px) {
    main section {
        display: flex;
        flex-direction: column;
    }

    main section .title {
        width: 94%;
        text-align: left;
        border-right: none;
        border-bottom: solid 3px var(--color-secondary);
    }
    main section .content {
        width: 100%;
    }
}
